@font-face {
    font-family: 'rosseti-light.ttf';
    src: url('../fonts/rosseti-light.ttf');
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.section1 h3{
    font-size: 5.0em;
    font-family: 'rosseti-light' sans-serif;
    color: #3f3d56;
}

h2{
    font-family: 'Courier New', Courier, monospace;

}

html,
body {
    margin: 0;
    height: 100%;
    background-color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    width: min(100%, 1350px);
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer {
    height: 70px;
    width: 100%;
    position: relative;
    background-color: #3f3d56;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

input {
    border-style: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 35px;
    width: 45%;
    padding-left: 15px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: #6c63ff;
}

input::placeholder {
    color: #3f3d56;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.section1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.divImages1 {
    text-align: center;
}

.divImages1 img{
    height: 100px;
}

.divImages2 img{
    height: 500px;
}

/* .section2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px;

} */

.card {
    height: 650px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    gap: 35px;
    border-radius: 10px;
    box-shadow: 0 8px 20px -13px #000000;
    padding: 15px;
}

.cardIputs {
    /* margin-top: 50px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardResult {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    /* border: solid 0.5px #cccccc; */
    border-radius: 10px;
}
